{% extends 'core/base.html' %}

{% block content %}
<div class="conatiner-fluid mt-5 border-bottom">
    <h1 class = " text-warning">Skills</h1>
</div>
<div class="container text-white">
    <div class="row">
        <div class="col-sm-5">
            <h3 class="mt-5 mx-5">HTML</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>  
        <div class="col-sm-5 offset-2">
            <h3 class="mt-5 mx-5">Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-5">
            <h3 class="mt-5 mx-5">Java</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>  
        <div class="col-sm-5 offset-2">
            <h3 class="mt-5 mx-5">SQL</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h3 class="mt-5 mx-5">CSS</h3>
            <div class="progress">
                
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 45%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">45%</div>
            </div>
        </div>  
        <div class="col-sm-5 offset-2">
            <h3 class="mt-5 mx-5">Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h3 class="mt-5 mx-5">Pygame</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>  
        <div class="col-sm-5 offset-2">
            <h3 class="mt-5 mx-5">Javascript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}